.search{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.search > * {
  padding:5px;
}

.searchIcon{
  position: relative;
  bottom: 95%;
  right: 32px;
  /* transform: translateY(-50%); */
  cursor: pointer;
}

.textBox{
  background-color: #edf1f7;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    padding: 9px;
}
