.search{
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px;
}

.search > * {
  padding:5px;
}

.searchIcon{
  position: relative;
  bottom: 95%;
  right: 32px;
  /* transform: translateY(-50%); */
  cursor: pointer;
}
